{% extends 'base.html' %}

{%  block content %}

<form action="{% url 'result'%}" method="post">
  {% csrf_token %}
    <label for="your_name">Введите текст:</label>
    <textarea id="your_name" type="text" name="text" class="form-control" rows="10"></textarea>
    {% for error in form.text.errors %}
    <span class="alert alert-error">{{ error }}</span>
{% endfor %}
  <hr>
  <div class="form-group">
    <label for="sel1">Выберете период:</label>
    <select class="form-control" id="sel1" name="keyLen">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
    </select>
      <input type="submit" class="btn btn-primary" name = "encrypt" value="Зашифровать!">
  </div>
  <label class="radio-inline">
      <input type="radio" name="lang" id="inlineRadio1" value="0" checked> Русский
  </label>
  <label class="radio-inline">
      <input type="radio" name="lang" id="inlineRadio2" value="1"> English
  </label>
  <label class="radio-inline">
      <input type="radio" name="lang" id="inlineRadio3" value="2"> German
  </label>
  <input type="submit" class="btn btn-primary" name = "decrypt" value="Расшифровать!">
</form>
<hr>

{%  endblock %}